<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CocoaUIViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IKit-universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>IKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IObj-universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestIObj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>08A34A0B1A53EC3800C1B7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A34A441A53F36300C1B7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08A34AB21A585CFD00C1B7F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C254561A5E55D60095EC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C2546E1A5E562C0095EC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08C2547D1A5E60EB0095EC77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31D2C7661B69E90B009C1C97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
