.btn{
	margin: 4 8;
	padding: 4;
	width: 30;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	background: #f33;
	border: 1 solid #999;
}
.a .btn{
	background: #3f3;
}
label{margin:5 5 5 0; padding: 5;}
.x{background: #f33; opacity: 0.6;}
.y{background: #3f3;}
.z{background: #ff3;}

#div{margin: 10 0; background: #eee; width: 200; float: center; border: 2 solid #000;
	aspect-ratio: 4/2;
}
#div2{background: url(icon.png) no-repeat;}
#container{background: #fff;}
#container:hover{background: #ff6;}
