.DS_Store
*.swp
*.xcuserstate
*.xcuserdatad
build
IKit.xcodeproj/project.xcworkspace/xcshareddata/IKit.xccheckout
IKit.xcodeproj/project.xcworkspace/xcuserdata/
IKit.xcodeproj/xcuserdata/
UserInterfaceState.xcuserstate

