.DS_Store
*.swp
*.xcuserstate
build
IKit/IKit.xcodeproj/project.xcworkspace/xcshareddata/IKit.xccheckout
IKit/IKit.xcodeproj/project.xcworkspace/xcuserdata/
IKit/IKit.xcodeproj/xcuserdata/
UserInterfaceState.xcuserstate

